<div class="parent" fxLayout="row">
  <div class="left" fxFlex="30%">

    <div class="header">
      What You Will Learn:
    </div>
    <div class="box">
      <ul>
        <li>Components</li>
        <li>Layouts</li>
        <li>Themes</li>
        <li>Transitions</li>
        <li>And More!</li>
      </ul>
    </div>
  </div>



  <div class="right" fxFlex="70%">
    <div class="header">
      Introduction to Angular Material Design!
    </div>
    <div class="box">
      <p>It is great to have you here! I hope this site helps you to better understand Angular Material Design and its advantages.
      </p>
    </div>
  </div>
</div>