/* Form Styles */
.frm-login {
  width: 50%;
  margin: 0 auto;
}
.frm-login-panel {
  border: 1px solid lightgray;
  padding: 40px;
}
.frm-login-header {
  background-color: #3f51b5;
}
.frm-login-toolbar {
  background-color: #3f51b5;
  color: white;
  font-family: 'Permanent Marker', cursive;
  font-size: 35px;
}
.frm-login-body {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}
.btn-login {
  background-color: #3f51b5;
  color: white;
}
.frm-login-actions {
  text-align: right;
}
/* Global */
.wrapper {
  width: 100%;
  margin-top: 10%;
}
.menu {
    width: 100%;
    padding: 0px;
    margin: 0px;
}
